.hero {
  position: relative;
  height: 555px;
  width: 100%;
  overflow: hidden;
  justify-content: flex-start; }
  @media (max-width: 760px) {
    .hero {
      display: none !important; } }
  .hero .heroimg {
    position: absolute;
    top: 0px;
    right: 0px;
    background: url("../img/img_banner.jpg");
    height: 100%;
    width: 120%;
    background-size: cover;
    background-repeat: no-repeat; }
  .hero .herotxt {
    position: absolute;
    z-index: 5;
    display: flex;
    flex-direction: column;
    left: -600px;
    top: 40%;
    color: white; }
    .hero .herotxt .titulo h2 {
      padding-left: 50px;
      line-height: 10px; }
    .hero .herotxt .call {
      line-height: 10px;
      background: #005222;
      width: 620px;
      font-size: 20px;
      font-weight: 300;
      transform: skewX(-20deg); }
      @media (max-width: 760px) {
        .hero .herotxt .call {
          width: 400px;
          line-height: 35px;
          transform: skewX(0deg);
          padding: 10px 20px; } }
      .hero .herotxt .call h2 {
        padding-left: 50px;
        font-weight: 300;
        transform: skewX(20deg);
        text-align: start;
        text-transform: uppercase; }
        @media (max-width: 760px) {
          .hero .herotxt .call h2 {
            transform: skewX(0deg);
            margin: 5px 20px;
            text-align: center;
            padding: 5px 12px; } }
      .hero .herotxt .call h2:nth-child(1) {
        margin-left: -13px; }
        @media (max-width: 760px) {
          .hero .herotxt .call h2:nth-child(1) {
            margin-left: 0px; } }
    .hero .herotxt .bajada {
      margin: 20px 0px;
      margin-left: 50px;
      width: 415px;
      font-size: 16px;
      font-weight: 300;
      text-align: justify; }
      @media (max-width: 760px) {
        .hero .herotxt .bajada {
          width: 300px; } }
    .hero .herotxt .explica {
      margin-left: 50px;
      width: 380px;
      font-size: 13px;
      font-weight: 200;
      text-align: justify; }
      @media (max-width: 760px) {
        .hero .herotxt .explica {
          width: 300px; } }
      .hero .herotxt .explica span {
        color: #519535;
        text-align: start; }

.heromovil {
  display: none !important; }
  @media (max-width: 760px) {
    .heromovil {
      display: flex !important;
      position: relative;
      height: 555px;
      width: 100%;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background: url("../img/img_banner-movil2.jpg"); }
      .heromovil img {
        width: 100%; } }
  @media (max-width: 320px) {
    .heromovil {
      background-size: contain !important;
      background: url("../img/img_banner-movil.jpg");
      height: 700px;
      background-repeat: no-repeat; }
      .heromovil h2 {
        padding-left: 50px;
        line-height: 10px; } }
  .heromovil .textomovil {
    position: absolute;
    top: 41%;
    width: 90%; }
    @media (max-width: 760px) {
      .heromovil .textomovil {
        margin-top: 0px; } }
    @media (max-width: 320px) {
      .heromovil .textomovil {
        margin-top: -25px; } }
    .heromovil .textomovil .titulomovil h3 {
      padding-left: 20px;
      line-height: 18px;
      font-size: 16px;
      color: white; }
    .heromovil .textomovil .callmovil {
      background: #005222;
      color: white;
      text-align: center;
      line-height: 0px;
      padding: 6px; }
      .heromovil .textomovil .callmovil h2 {
        font-size: 18px; }
      .heromovil .textomovil .callmovil h3 {
        font-size: 25px; }
    .heromovil .textomovil .bajadamovil {
      font-size: 15px;
      color: white;
      text-align: center;
      padding: 12px; }
    .heromovil .textomovil .explicamovil {
      color: white;
      text-align: center;
      padding: 12px;
      font-size: 14px; }

.tituloinfografia {
  height: 120px;
  width: 100%; }
  @media (max-width: 760px) {
    .tituloinfografia {
      width: 90%; } }
  .tituloinfografia h2 {
    color: #005222;
    font-size: 33px; }
    @media (max-width: 760px) {
      .tituloinfografia h2 {
        font-size: 25px;
        text-align: center; } }

.infografia {
  background-image: url(../img/fondoinfografia.jpg);
  width: 100%; }
  @media (max-width: 760px) {
    .infografia {
      display: none; }
      .infografia img {
        display: none; } }

.features {
  flex-direction: column;
  width: 100%; }
  @media (max-width: 760px) {
    .features {
      width: 100%; } }
  .features .featTit {
    font-size: 32px;
    text-align: center;
    color: #519535;
    margin-top: -36px;
    margin-bottom: 45px; }
    @media (max-width: 760px) {
      .features .featTit {
        margin-top: 25px; } }
  .features .feat3 {
    display: flex;
    justify-content: space-around;
    width: 90%; }
    @media (max-width: 760px) {
      .features .feat3 {
        flex-direction: column;
        align-items: center; } }
    .features .feat3 .ef {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 32%; }
      .features .feat3 .ef img {
        width: 100px;
        height: 100px; }
      .features .feat3 .ef p {
        text-align: center;
        font-size: 16px;
        color: gray;
        width: 214px;
        line-height: px; }
        .features .feat3 .ef p span {
          font-size: 12px; }

.featBaj {
  background: #005222;
  color: white;
  font-size: 35px;
  width: 100%;
  text-align: center;
  line-height: 0; }
  @media (max-width: 760px) {
    .featBaj {
      width: 100%;
      line-height: 0px;
      padding: 17px 0px; }
      .featBaj h3 {
        font-size: 22px; }
      .featBaj p {
        font-size: 18px; } }

.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 50px 0px; }
  @media (max-width: 760px) {
    .contacto {
      flex-direction: column;
      margin: 0px 0px; } }
  .contacto .informacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-items: center;
    margin: 100px; }
    @media (max-width: 760px) {
      .contacto .informacion {
        margin: 50px 0px; } }
    .contacto .informacion img {
      width: 120px;
      float: left;
      margin-right: 15px; }
    .contacto .informacion .textoinfo {
      border-left: 2px solid;
      color: #777776;
      float: left; }
      .contacto .informacion .textoinfo p {
        margin-left: 20px; }
  .contacto .formulario {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px; }
    .contacto .formulario .wpcf7-form {
      width: 500px; }
      @media (max-width: 760px) {
        .contacto .formulario .wpcf7-form {
          width: auto;
          margin-left: 30px; } }
    .contacto .formulario .contTit {
      margin-top: -20px;
      font-size: 30px;
      color: gray;
      text-align: center; }
    .contacto .formulario input, .contacto .formulario textarea {
      width: 90%;
      height: 30px;
      margin-bottom: 2px;
      padding: 5px;
      margin-top: 2px;
      font-size: 12px;
      border: 1px solid #ccc;
      border-radius: 0px !important;
      background: rgba(204, 204, 204, 0.2);
      text-transform: capitalize; }
      @media (max-width: 760px) {
        .contacto .formulario input, .contacto .formulario textarea {
          width: 90%;
          height: 40px;
          font-size: 17px; } }
    .contacto .formulario textarea {
      height: 170px; }
    .contacto .formulario input[type="submit"] {
      background: #DCB900;
      color: black;
      text-transform: uppercase;
      height: 46px;
      border-radius: 4px;
      border: 0px;
      width: 464px; }
      @media (max-width: 760px) {
        .contacto .formulario input[type="submit"] {
          width: 93%; } }

footer {
  background: #005222;
  width: 100%;
  padding: 30px 0px;
  justify-content: space-around !important; }
  @media (max-width: 760px) {
    footer {
      flex-direction: column;
      justify-content: center; } }
  footer .trical, footer .mapa, footer .email {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 760px) {
      footer .trical, footer .mapa, footer .email {
        padding: 30px 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    footer .trical img, footer .mapa img, footer .email img {
      width: 57px;
      height: 57px; }
    footer .trical p, footer .mapa p, footer .email p {
      color: white;
      font-size: 16px;
      margin-left: 10px; }
      @media (max-width: 760px) {
        footer .trical p, footer .mapa p, footer .email p {
          text-align: center; } }
    footer .trical a, footer .mapa a, footer .email a {
      text-decoration: none; }
  footer .trical > img {
    width: 76px; }

.dekaz {
  background: #519535;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  padding: 0px; }
  .dekaz .contenedor {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 30px; }
    @media (max-width: 760px) {
      .dekaz .contenedor {
        width: 90%; } }
    .dekaz .contenedor a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
      .dekaz .contenedor a img {
        width: auto;
        height: 18px; }
      .dekaz .contenedor a p {
        color: white;
        margin: 0px;
        padding: 0px;
        font-size: 14px; }
      .dekaz .contenedor a p:nth-child(1) {
        font-size: 12px;
        margin-right: 5px; }

@keyframes play18 {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: -378px 0px; } }
@keyframes playrev {
  0% {
    background-position: -378px 0px; }
  100% {
    background-position: 0px 0px; } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.shapeshifter.play {
  animation-name: play18; }

.shapeshifter.playrev {
  animation-name: playrev; }

.tns-outer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none !important;
  background: #523016;
  width: 100%;
  overflow: hidden; }
  @media (max-width: 760px) {
    .tns-outer {
      display: flex !important; } }
  .tns-outer .tns-controls {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    .tns-outer .tns-controls button {
      background: transparent;
      border: 0px;
      opacity: 0; }
      .tns-outer .tns-controls button:after {
        width: 60px;
        height: 60px;
        content: "";
        display: inline-block;
        background-size: 100px 100px;
        background-repeat: no-repeat; }
    .tns-outer .tns-controls button:nth-child(1) {
      left: 0px; }
      .tns-outer .tns-controls button:nth-child(1):after {
        background: url("../img/baseline-chevron_left-24px.svg");
        background-size: 60px 60px;
        background-repeat: no-repeat; }
    .tns-outer .tns-controls button:nth-child(2) {
      right: 0px; }
      .tns-outer .tns-controls button:nth-child(2):after {
        background: url("../img/baseline-chevron_right-24px.svg");
        background-size: 60px 60px;
        background-repeat: no-repeat; }
  .tns-outer .tns-nav {
    position: absolute;
    bottom: 10px;
    z-index: 1;
    align-self: center; }
    .tns-outer .tns-nav button {
      width: 9px;
      height: 9px;
      padding: 0;
      margin: 0 5px;
      border-radius: 50%;
      background: #ddd;
      border: 0; }
    .tns-outer .tns-nav button.tns-nav-active {
      background: black; }
  .tns-outer .tns-inner img {
    width: 100%; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; }

.container > * {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  @media (max-width: 760px) {
    .container > * {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; } }

.contenedor {
  max-width: 1100px; }
  @media (max-width: 760px) {
    .contenedor {
      max-width: 90%; } }

a {
  text-decoration: none; }

/*# sourceMappingURL=app.css.map */
