.hero
    position: relative
    height: 555px
    width: 100%
    overflow: hidden
    justify-content: flex-start
    @media (max-width: 760px)
        display: none!important
    .heroimg
        position: absolute
        top: 0px
        right: 0px
        background: url("../img/img_banner.jpg")
        height: 100%
        width: 120%
        background-size: cover
        background-repeat: no-repeat
    .herotxt
        position: absolute
        z-index: 5
        display: flex
        flex-direction: column      
        left: -600px
        top: 40%
        color: white
        .titulo
            h2
                padding-left: 50px
                line-height: 10px
        .call
            line-height: 10px
            background: $verde2
            width: 620px
            font-size: 20px
            font-weight: 300
            transform: skewX(-20deg)
            @media (max-width: 760px)
                width: 400px
                line-height: 35px
                transform: skewX(0deg)
                padding: 10px 20px
            h2
                padding-left: 50px
                font-weight: 300
                transform: skewX(20deg)
                text-align: start
                text-transform: uppercase
                @media (max-width: 760px)
                    transform: skewX(0deg)
                    margin: 5px 20px
                    text-align: center
                    padding: 5px 12px
            h2:nth-child(1)
                margin-left: -13px
                @media (max-width: 760px)
                    margin-left: 0px

        .bajada
            margin: 20px 0px
            margin-left: 50px
            width: 415px
            font-size: 16px
            font-weight: 300
            text-align: justify
            @media (max-width: 760px)
                width: 300px
        .explica
            margin-left: 50px
            width: 380px
            font-size: 13px
            font-weight: 200
            text-align: justify
            @media (max-width: 760px)
                width: 300px
            span
                color: $verde1
                text-align: start

.heromovil
    display: none!important
    @media (max-width: 760px)
        display: flex!important
        position: relative
        height: 555px
        width: 100%
        background-repeat: no-repeat!important
        background-size: cover!important
        background: url("../img/img_banner-movil2.jpg")
        img
            width: 100%
    @media (max-width: 320px)
        background-size: cover!important
        background: url("../img/img_banner-movil.jpg")
        height: 550px
        background-repeat: no-repeat
        h2
            padding-left: 50px
            line-height: 10px

    .textomovil
        position: absolute
        top: 41%
        width: 90%
        @media (max-width: 760px)
            margin-top: 0px
        @media (max-width: 320px)
            margin-top: -25px
        .titulomovil
            h3
                padding-left: 20px
                line-height: 18px
                font-size: 16px
                color: white
                @media (max-width: 320px)
                    padding-left: 20px
                    font-size: 14px
        .callmovil
            background: $verde2
            color: white
            text-align: center
            padding: 6px
            h2
                font-size: 18px
                line-height: 20px
                @media (max-width: 320px)
                    padding-left: 0px
                    font-size: 18px
        .callmovil
                
            h3
                font-size: 25px
                line-height: 0px
                margin: 0px 0px 20px
    
        .bajadamovil
            font-size: 15px
            color: white
            text-align: center
            padding: 12px
        .explicamovil
            color: white
            text-align: center
            padding: 12px
            font-size: 14px
