$verde1: #519535
$verde2: #005222
    
@import "hero"
@import "feature"
@import "contacto"
@import "footer"
body 
    
.container
    display: grid
    height: 100vh
    width: 101%
    // overflow: hidden

.container > *
    display: flex
    font-family: 'Open Sans', sans-serif
    justify-content: center
    align-items: center

a
    text-decoration: none